<h1>
  {{ this.currentUser._entreprise }}
</h1>

<p>
  {{ this.userEntreprise | json }}
</p>

<h1>{{ this.consoEntreprise }}</h1>

<iframe
  src="https://kepler.gl/#/demo?mapUrl=https://raw.githubusercontent.com/ikespand/ikespand.github.io/master/_data/sample_data/keplergl_road_network.json"
  style="border: 0px #ffffff none"
  name="myiFrame"
  scrolling="no"
  frameborder="1"
  marginheight="0px"
  marginwidth="100px"
  height="800px"
  width="1000px"
  allowfullscreen
></iframe>

<h1>Classements</h1>
<br />
<h2>Classement CO2</h2>
<div *ngFor="let entry of this.classementCo2 | keyvalue: originalOrder">
  {{ entry.key }}:{{ entry.value }}
</div>

<h2>Classement Nombre de trajets</h2>
<div *ngFor="let item of this.classementnbTrajets | keyvalue: originalOrder">
  {{ item.key }}:{{ item.value }}
</div>

<h2>Classement Utilisateur</h2>
<div *ngFor="let entry of this.classementUser | keyvalue: originalOrder">
  {{ entry.key }}:{{ entry.value }}
</div>
