<div *ngIf="this.loader.isLoading | async" class="loader-container">
  <mat-spinner style="top: 50%; left: 50%;"></mat-spinner>
</div>

<div class="grid-container">
  <h1 class="mat-h1">Opendata</h1>
  <!-- Search form -->
<form class="form-inline waves-light" mdbWavesEffect>
  <div class="form-group">
    <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch" name="query">
  </div>
</form>
  <mat-grid-list cols="4" >
    <mat-grid-tile *ngFor="let card of this.liste | searchFilter: query" [colspan]=1 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.fields.dataset_id}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Number of records: {{card.fields.records_count}}</div>
          <div>Size of records: {{card.fields.records_size}}</div>
          <div>Last measure: {{card.fields.data_processed}}</div>
          <button mat-icon-button class="data-button" (click)="this.showTable(this.card.fields.dataset_id)" routerLink="table">
            <mat-icon>description</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- <p>{{this.obj}}</p> -->
