:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

mat-card-title, mat-card-content {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.google-login-btn {
  background-image: url('src/assets/google-logo.png');
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 10%;
  padding-left: 15%;
}
