<!-- <div *ngIf="!this.firebaseService.isLoggedIn">
  <div *ngIf="this.firebaseService.status=='entreprise'">
    <h2>Sign in</h2>
    <input type="text" #email>
    <input type="text" #password>
    <button (click)="onSignin(email.value,password.value)">Sign up</button>
  </div>
</div> -->
<div *ngIf="!this.firebaseService.isLoggedIn" >
  <div *ngIf="this.firebaseService.status=='entreprise' || this.firebaseService.status=='collectivites'">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submit()" >
          <p>
            <mat-form-field>
              <input matInput placeholder="Email address" formControlName="email" />
              <mat-error *ngIf="email?.errors?.['required']" >Votre e-mail est requis.</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" />
              <mat-error *ngIf="password?.errors?.['required']" >Votre mot de passe est requis.</mat-error>
            </mat-form-field>
          </p>
          <div class="button">
            <button mat-raised-button color="primary" type="submit">Login</button>
          </div>
          <span>Nouvel(le) utilisateur ?<a routerLink="/signup">Inscrivez vous !</a></span>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="this.firebaseService.status=='particuliers'" >
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submit()" >
          <p>
            <mat-form-field>
              <input matInput placeholder="Email address" formControlName="email" />
              <mat-error *ngIf="email?.errors?.['required']" >Un e-mail est requis</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" />
              <mat-error *ngIf="password?.errors?.['required']" >Un mot de passe est requis</mat-error>
            </mat-form-field>
          </p>
          <div class="button">
            <button mat-raised-button color="primary" type="submit">Login</button>
          </div>
          <span>Nouvel(le) utilisateur ? <a routerLink="/signup">Inscrivez vous !</a></span>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div class="button">
          <button mat-raised-button class="google-login-btn" (click)="this.firebaseService.googleSignin()">
            Connexion avec Google
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>






