<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/entreprise">Home</a>
      <a mat-list-item routerLink="covoiturage">covoiturage</a>
      <a mat-list-item routerLink="foodtrucks">food-trucks</a>
      <a mat-list-item routerLink="sport">sport</a>
      <a mat-list-item routerLink="conferences">conferences</a>
      <a mat-list-item routerLink="opendata">opendata</a>
      <a mat-list-item routerLink="mon-entreprise">mon entreprise</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span #entreprise><mat-icon color="accent">maps_home_work</mat-icon> Entreprise</span>
      <div class="spacer"></div>
      <p>{{this.AirQuality}} µg/m³ <mat-icon>eco</mat-icon></p>
      <div *ngFor="let item of this.EntrepriseUser" >
        <button mat-raised-button (click)="onCreate()">{{item._name}} <mat-icon>account_circle</mat-icon></button>
      </div>
      <button mat-raised-button (click)="logout()" color="accent">Logout<mat-icon>logout</mat-icon></button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
