<h2>Modifiez vos informations</h2>


<mat-card>
  <!-- <mat-card-subtitle>Mettez à jour vos informations</mat-card-subtitle> -->
  <mat-card-title>{{this.currentUser._name}}</mat-card-title>
  <mat-card-content>
    <!-- <div *ngFor="let item of this.currentUser | keyvalue:onCompare" > -->
    <div *ngFor="let item of this.editable" >
      <!-- <div *ngIf="editable.includes(item.key)"> -->
        <!-- <div *ngIf="item.key == '_car' else other_case"> -->
        <div *ngIf="item == '_car' else other_case">
          <mat-form-field appearance="legacy">
            <mat-label>car type</mat-label>
            <input matInput placeholder="type" [(ngModel)]="this.currentUser._car._type">
            <mat-icon matSuffix color="primary">edit</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field appearance="legacy">
            <mat-label>car carburant</mat-label>
            <input matInput placeholder="carburant" [(ngModel)]="this.currentUser._car._carburant">
            <mat-icon matSuffix color="primary">edit</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <ng-template #other_case>
          <mat-form-field appearance="legacy">
            <mat-label>{{item}}</mat-label>
            <input matInput placeholder="item" [(ngModel)]="this.currentUser[item]">
            <mat-icon matSuffix color="primary">edit</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </ng-template>
      </div>
    <!-- </div> -->
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="save()">Sauvegarder</button>
  </mat-card-actions>
</mat-card>
