<!-- <div *ngIf="!this.firebaseService.isLoggedIn" >
  <h2>Sign up</h2>
  <input type="text" #emailSignup>
  <input type="text" #passwordSignup>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign up</button>
</div> -->

<div *ngIf="!this.firebaseService.isLoggedIn" >
    <mat-card>
      <mat-card-title>Signup</mat-card-title>
      <mat-card-content>
        <form [formGroup]="SignUpForm" (ngSubmit)="submit()" >
          <p>
            <mat-form-field>
              <input matInput placeholder="Email address" formControlName="email" />
              <mat-error *ngIf="email?.errors?.['required']" >Email is required</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" />
              <mat-error *ngIf="password?.errors?.['required']" >Password is required</mat-error>
            </mat-form-field>
          </p>
          <div class="button">
            <button mat-raised-button color="primary" type="submit">Signup</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
</div>






