<!-- <div *ngIf="!this.firebaseService.isLoggedIn" >
  <h2>Sign up</h2>
  <input type="text" #emailSignup>
  <input type="text" #passwordSignup>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign up</button>
</div> -->

<div *ngIf="this.loader.isLoading | async" class="loader-container">
  <!-- <mat-spinner style="top: 50%; left: 50%;"></mat-spinner> -->
  <div class="loader-item">
    <div class="loader loader-1">
      <app-atom-spinner
      [animationDuration]="1000"
      [size]="100"
      [color]="'#ff1d5e'"
     ></app-atom-spinner>
    </div>
  </div>
</div>

<div *ngIf="!this.firebaseService.isLoggedIn" >
    <mat-card>
      <mat-card-title>Iscrivez vous.</mat-card-title>
      <mat-card-content>
        <form [formGroup]="SignUpForm" (ngSubmit)="submit()" >
          <p>
            <mat-form-field>
              <input matInput placeholder="Email address" formControlName="email" />
              <mat-error *ngIf="email?.errors?.['required']" >Un e-mail est requis.</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" />
              <mat-error *ngIf="password?.errors?.['required']" >un mot de passe est requis.</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Entreprise" [matAutocomplete]="auto" formControlName="entreprise" type="text"  />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="entreprise?.errors?.['required']" >Votre entreprise est requise.</mat-error>
            </mat-form-field>
          </p>
          <div class="button">
            <button mat-raised-button color="primary" type="submit">Inscrivez vous.</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
</div>






