:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

mat-card-title, mat-card-content {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.loader-container{
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}

.loader {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
}
