<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard?.cols" [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <mat-card>
        <mat-card-title>Classement CO2</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard?.cols" [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <mat-card>
        <mat-card-title>Classement CO2</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard?.cols" [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <mat-card>
        <mat-card-title>Classement CO2</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard?.cols" [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <mat-card>
        <mat-card-title>Classement CO2</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <mat-card>
        <mat-card-title>Classement CO2</mat-card-title>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <mat-card>
        <mat-card-title>Classement Nombre de trajets</mat-card-title>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <mat-card>
        <mat-card-title>Classement Utilisateur</mat-card-title>
      </mat-card>
   </mat-grid-tile>
   <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <mat-card>
        <mat-card-title>Classement Global Utilisateur</mat-card-title>
      </mat-card>
   </mat-grid-tile>
  </mat-grid-list>
 </div>