@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");
@import "../../../../custom-theme.scss";

h2 {
  font-size: 2.5rem;
  color: $green;
  text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px,
    $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
  font-family: "Mulish";
  margin-bottom: 2rem;
}

::ng-deep .mat-select-trigger {
  font-size: 1.2em;
}

::ng-deep mat-dialog-container {
  border-radius: 20px !important;
  align-content: center;
  background-color: rgb(240, 240, 240);
}

mat-dialog-container {
  align-content: center;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.btn-bg.bg-2 .btn-2 button {
  color: #d0f9c7;
  background: $green;
  text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px;
  border: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.btn-bg.bg-2 .btn-2 button:hover {
  background: transparent;
  color: #d0f9c7;
}
.btn-bg.bg-2 .btn-2 button:hover:before,
.btn-bg.bg-2 .btn-2 button:hover:after {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 100%;
}
.btn-bg.bg-2 .btn-2 button:before,
.btn-bg.bg-2 .btn-2 button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 0px;
  height: 3px;
  background: #d0f9c7;
  transition: all 0.4s ease;
}
.btn-bg.bg-2 .btn-2 button:after {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
}

mat-label {
  text-align: center;
}

mat-panel-title {
  font-weight: bolder;
}

mat-calendar ng-tns-c208-23 ng-trigger ng-trigger-fadeInCalendar {
  box-shadow: 12px 12px 2px 1px rgb(6, 0, 0);
}

.radio_button {
  margin: 0.2rem;
}

@media (max-width: 1920px) {
  .mat-expansion-panel {
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 30rem;
    width: 50rem;
  }

  .gif {
    background-image: url(/assets/Entreprise/skeleton.gif);
    background-size: 40%;
    margin-right: 20rem;
    background-repeat: no-repeat;
  }

  .radio_button {
    margin: 0.2rem;
  }

  .start_end {
    margin-right: 0.8rem;
  }
}

@media (max-width: 1700px) {
  .mat-expansion-panel {
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 30rem;
    width: 50rem;
  }

  .gif {
    background-image: url(/assets/Entreprise/skeleton.gif);
    background-size: 40%;
    margin-right: 20rem;
    background-repeat: no-repeat;
  }

  .radio_button {
    margin: 0.2rem;
  }

  .start_end {
    margin-right: 0.8rem;
  }
}
@media (max-width: 1652px) {
  .mat-expansion-panel {
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 20rem;
    width: 40rem;
  }

  .gif {
    background-image: url(/assets/Entreprise/skeleton.gif);
    background-size: 40%;
    margin-right: 10rem;
    background-repeat: no-repeat;
  }

  .radio_button {
    margin: 0.2rem;
  }

  .start_end {
    margin-right: 0.8rem;
  }
}

@media (max-width: 1450px) {
  .mat-expansion-panel {
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 20rem;
    width: 40rem;
  }

  .gif {
    background-image: url(/assets/Entreprise/skeleton.gif);
    background-size: 25%;
    margin-right: 10rem;
    background-repeat: no-repeat;
  }

  .radio_button {
    margin: 0.2rem;
  }
}
@media (max-width: 1260px) {
  .mat-expansion-panel {
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 10rem;
    width: 40rem;
  }

  .gif {
    background-image: url(/assets/Entreprise/skeleton.gif);
    background-size: 15%;
    margin-right: 10rem;
    background-repeat: no-repeat;
  }

  .radio_button {
    margin: 0.2rem;
  }
}

@media (max-width: 1024px) {
  .mat-expansion-panel {
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 8rem;
    width: 40rem;
  }

  .gif {
    background-image: url(/assets/Entreprise/skeleton.gif);
    background-size: 20%;
    margin-right: 5rem;
    background-repeat: no-repeat;
  }

  .radio_button {
    margin: 0.2rem;
  }
}

@media (max-width: 1000px) {
  .mat-expansion-panel {
    border-radius: 0.5rem;
    margin: 1rem;
    width: 30rem;
    visibility: visible;
  }

  .gif {
    visibility: hidden;
  }

  .radio_button {
    margin: 0.2rem;
  }
}
@media (max-width: 414px) {
  h2 {
    font-size: 1.5rem;
    color: $green;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px;
    font-family: "Mulish";
    margin-bottom: 2rem;
  }
  mat-panel-title {
    font-size: 0.7rem;
    white-space: normal;
  }
  mat-panel-description {
    font-size: 0.6rem;
  }

  .mat-expansion-panel {
    border-radius: 0.5rem;
    margin: 0.4rem;
    width: 16rem;
    visibility: visible;
  }

  .gif {
    visibility: hidden;
  }

  .radio_button {
    margin: 0.2rem;
  }
}

@media (max-width: 360px) {
  h2 {
    font-size: 1.5rem;
    color: $green;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px;
    font-family: "Mulish";
    margin-bottom: 2rem;
  }
  mat-panel-title {
    font-size: 0.6rem;
    white-space: normal;
  }
  mat-panel-description {
    font-size: 0.5rem;
  }

  mat-form-field {
    transform: scale(0.7);
  }

  mat-radio-group {
    transform: scale(0.7);
  }

  .frequence {
    transform: scale(0.6);
    margin-left: 1rem;
  }

  .mat-expansion-panel {
    border-radius: 0.5rem;
    margin: 1rem;
    width: 13rem;
    visibility: visible;
  }

  .gif {
    visibility: hidden;
  }

  .radio_button {
    margin: 0.2rem;
  }
}
@media (max-width: 280px) {
  h2 {
    font-size: 1rem;
    color: $green;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px;
    font-family: "Mulish";
    margin-bottom: 2rem;
  }
  mat-panel-title {
    font-size: 0.3rem;
    white-space: normal;
  }
  mat-panel-description {
    font-size: 0.2rem;
  }

  mat-form-field {
    transform: scale(0.4);
  }

  mat-radio-group {
    transform: scale(0.3);
    margin-right: 2rem;
  }

  .frequence {
    transform: scale(0.4);
    margin-left: 4rem;
  }

  .mat-expansion-panel {
    border-radius: 0.5rem;
    margin: 1rem;
    width: 10rem;
    visibility: visible;
  }

  .gif {
    visibility: hidden;
  }

  .radio_button {
    margin: 0.2rem;
  }
}
