<div [class]="content" fxLayout="column" fxFill>
  <div id="navbar">
    <!-- <mat-toolbar [style.background-color]="'transparent'" fxLayout="row" fxLayoutAlign="start center">
      <span>Bienvenue</span>
      <span fxFlex></span>
      <button *ngIf="!this.firebaseService.isLoggedIn" mat-button (click)="loginEntreprise()">Entreprise</button>
      <button *ngIf="!this.firebaseService.isLoggedIn"  mat-button (click)="loginCollectivites()">Collectivité</button>
      <button *ngIf="!this.firebaseService.isLoggedIn" mat-button (click)="loginParticuliers()">Particulier</button>
      <button *ngIf="this.firebaseService.isLoggedIn"  mat-button (click)="logout()">logout</button>
      <button mat-icon-button class="hamburger"><mat-icon>menu</mat-icon></button>
    </mat-toolbar> -->

    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          Bienvenue
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <button *ngIf="!this.firebaseService.isLoggedIn" mat-button (click)="loginEntreprise()">Entreprises</button>
        <button *ngIf="!this.firebaseService.isLoggedIn"  mat-button (click)="loginCollectivites()">Collectivités</button>
        <button *ngIf="!this.firebaseService.isLoggedIn" mat-button (click)="loginParticuliers()">Particuliers</button>
        <button *ngIf="this.firebaseService.isLoggedIn"  mat-button (click)="logout()">logout</button>
      </div>
    </div>
  </div>

  <div
    *ngIf="this.isExplorer"
    id="welcome"
    fxLayoutAlign="center center"
    fxLayout="column"
    fxLayoutGap="100px"
    fxFlex
  >
    <span id="landes">Landes</span>
    <button mat-raised-button (click)="onClickExplorer()">Explorer</button>
  </div>

  <div
    *ngIf="!this.isExplorer"
    id="explorer"
    fxLayout="column"
    fxLayoutAlign="space-evenly stretch"
    fxFlex
  >
    <div id="plages">
      <span class="explorer-text" [style.padding-left]="'10%'">Nos plages</span>
      <br /><br /><br />
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <iframe
          [src]="urlHossegor"
          width="25%"
          height="20%"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
        <iframe
          [src]="urlCapbreton"
          width="25%"
          height="20%"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
        <iframe
          [src]="urlBouceau"
          width="25%"
          height="20%"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div id="histoire">
      <span class="explorer-text" [style.padding-left]="'10%'"
        >Notre histoire</span
      >
      <br /><br /><br />
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <iframe
          [src]="urlMimizan"
          width="25%"
          height="20%"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
        <iframe
          [src]="urlMarsan"
          width="25%"
          height="20%"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
        <iframe
          [src]="urlDax"
          width="25%"
          height="20%"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
