#container{
  height: 100%;
  background: url(/assets/Accueil/background.jpg) no-repeat center;
  background-size: cover;
}

#container-explorer{
  height: 100%;
  background: url(/assets/Accueil/background-blur.png) no-repeat center;
  background-size: cover;
}

#navbar button{
  color: white;
}

#landes{
  margin: auto;
  display: flex;
  width: 60%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

#landesspan{
  color: white;
  font-size: 1500%;
  margin: auto;
  display: flex;
  width: 60%;
  padding: 5%;
  align-items: center;
  justify-content: center;
}

#landes button{
  color:black;
}

span{
  color: white;
}

.explorer-text {
  font-size: 750%;
}
