.container{
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background: url(/assets/Accueil/background.jpg) no-repeat center;
  background-size: cover;
}

.transparent{
  background-color: transparent;
}

.navbar button{
  color:white
}

/* .landes{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: available;
} */
/*
.landes{
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  margin: auto;
} */

.landes{
  margin: auto;
  display: flex;
  width: 60%;
  /* border: 5px solid #FFFF00; */
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.landesspan{
  color: white;
  font-size: 1500%;
  /* font-size: ; */
  margin: auto;
  display: flex;
  width: 60%;
  padding: 5%;
  align-items: center;
  justify-content: center;
}

.landes button{
  color:black;
}

span{
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

#spacediv{
  margin-top: 10%;
}
