<mat-card>
  <mat-card-title>Mot de passe oublié</mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="actionCodeChecked" [ngSwitch]="mode">
      <!-- Reset Password -->
      <ng-container *ngSwitchCase="'resetPassword'">
        <p>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="newPassword"
              type="text"
              id="newPassword"
              name="newPassword"
              placeholder="New Password"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="confirmPassword"
              type="text"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm
              Password"
            />
          </mat-form-field>
        </p>
        <div>
          <button mat-raised-button (click)="handleResetPassword()">
            Confirm
          </button>
        </div>
      </ng-container>
      <!-- Recover Email -->
      <ng-container *ngSwitchCase="'recoverEmail'"> </ng-container>

      <!-- Verify Email -->
      <ng-container *ngSwitchCase="'verifyEmail'"> </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>
