<div class="exporters" fxLayout="row" fxLayoutGap="20px">
  <button mat-raised-button (click)="CSV_Export()">CSV</button>
  <button mat-raised-button (click)="Excel_Export()">Excel</button>
  <button mat-raised-button (click)="JSON_Export()">JSON</button>
</div>


<div class="component data component-card">
  <mat-paginator #paginatorColumns [length]="this.displayedColumns.length" hidePageSize="true" (page)="changeDisplayColumns($event)" [pageSize]="6"></mat-paginator>
  <table mat-table [dataSource]="this.table" matSort class="table" matTableExporter #exporter="matTableExporter">
    <ng-container class="container" [matColumnDef]="column" [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell class="header-cell" *matHeaderCellDef>
        <span mat-sort-header class="sort-header">{{ column | titlecase }}</span>
      </th>
      <td mat-cell class="cell" *matCellDef="let element"> {{element.fields[column]}} </td>
    </ng-container>
    <tr mat-header-row class="header-row" *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row class="row" *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <mat-paginator #paginatorRows [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

